<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Yelp Camp</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">YelpCamp</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/">Login</a>
        </li>
        <li>
          <a href="/">Register</a>
        </li>
        <li>
          <a href="/">Logout</a>
        </li>
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger" href="#" data-target="dropdown1">Dropdown
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li>
      <a href="#!">one</a>
    </li>
    <li>
      <a href="#!">two</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="#!">three</a>
    </li>
  </ul>