<% include ../partials/header %>

  <div class="container">

    <div class="row">

      <h2 class="center-align">Add New Comment to <%= campground.name %></h2>

      <div style="width: 40%; margin: 50px auto;">


        <form method="post" action="/campgrounds/<%= campground._id %>/comments">
          <div class="input-field">
            <input required type="text" name="comment[text]" placeholder="Comment Text">
          </div>

          <div class="input-field">
            <input required type="text" name="comment[author]" placeholder="Author Name">
          </div>
          
          <button class="waves-effect waves-light btn">Add Comment</button>
        </form>

        <div>
          <a href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>

      </div>


    </div>

  </div>

  <% include ../partials/footer %>