<% include ../partials/header %>

  <div class="container">

    <div class="row">

      <h5 class="center-align">Add Comment to
        <strong class="teal-text">
          <%= campground.name %>
        </strong>
      </h5>

      <div style="width: 80%; margin: 50px auto;">


        <form method="post" action="/campgrounds/<%= campground._id %>/comments">

          <div class="input-field">
            <input required type="text" name="comment[text]">
            <label for="comment[text]">Comment</label>
          </div>

          <button class="waves-effect waves-light btn">Add Comment</button>

        </form>

        <br>

        <div>
          <a href="/campgrounds/<%= campground._id %>">Back to campgrounds</a>
        </div>

      </div>


    </div>

  </div>

  <% include ../partials/footer %>