<% include partials/header %>

  <div>

    <div class="container">
      <div class="row">
        <br>
        <form action="/login" method="post">
          <div class="input-field">
            <input type="text" name="username">
            <label for="username">Username</label>
          </div>
          <div class="input-field">
            <input type="password" name="password">
            <label for="password">Password</label>
          </div>
          <button class="waves-effect waves-light btn right-align">Login</button>
        </form>

        <br />

        <a href="/forgot">Forgot Password</a>

        <br />
        <br />

        <a href="/campgrounds">Back to Campgrounds</a>

      </div>
    </div>

  </div>

  <% include partials/footer %>