<% include partials/header %>

  <div class="container">

    <div class="row">
      
      <h2 class="center-align"> Create New Campground</h2>

      <div style="width: 40%; margin: 50px auto;">


        <form method="post" action="/campgrounds">
          <div class="input-field">
            <input required type="text" name="name" placeholder="New Campground">
          </div>

          <div class="input-field">
            <input required type="text" name="image" placeholder="Image URL">
          </div>
          <button class="waves-effect waves-light btn">Add Campground</button>
        </form>

        <div>
          <a href="/campgrounds">Go Back</a>
        </div>

      </div>


    </div>

  </div>

  <% include partials/footer %>