<% include ../partials/header %>

  <h4>
    <%= currentUser %>
  </h4>

  <div class="container">

    <header>
      <h1>Wecome to YelpCamp</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
        <a class="waves-effect waves-light btn-large" href="/campgrounds/new">Add New Campground</a>
      </p>
    </header>

    <div class="row">
      <div class="col l12">
        <h3 class="center-align">
          Our Most Popular Campgrounds
        </h3>
      </div>
    </div>
    <!-- style="display: flex; flex-wrap: wrap;"-->
    <div class="row">
      <div class="col l12">

        <% campgrounds.forEach(campground => { %>
          <div class="col s12 m3 s6">
            <div class="card">
              <img class="responsive-img" src="<%= campground.image %>">
              <div class="card-content">
                <p class="flow-text center-align">
                  <%= campground.name %>
                </p>
              </div>
              <div class="card-action center-align">
                <a href="/campgrounds/<%= campground._id %>" class="waves-effect waves-light btn-small">More Info</a>
              </div>
            </div>
          </div>
          <% }) %>

      </div>
    </div>

  </div>

  <% include ../partials/footer %>