body,
html {
  height: 100%
}

#deleteCampground {
  display: inline;
}

#deleteComment {
  display: inline;
}

.action-btns {
  margin-top: 10px;
}

#map {
  height: 400px;
  width: 100%;
}

.sites {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50px;
}