<% include ../partials/header %>


  <div class="container">

    <div class="row">

      <div class="col s12 m12 l12 xl12">

        <form action="/forgot" method="post">
          <legend>Forgot Password</legend>
          <input type="email" name="email" autofocus>
          <button class="waves-effect waves-light btn" type="submit">Reset Password</button>
        </form>

      </div>

    </div>

  </div>

  <% include ../partials/footer %>